body {
	background-image: url('assets/backgrounds/wood-pattern.png');
	text-align: center;
	padding: 0;
	margin: 0;
 }

 #gameContainer {
 	display:inline-block;
 	border: 1px solid orange;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
 }
